.brandsInfo {
	font-family: 'Source Sans Pro', sans-serif;
}

.chevron {
	color: rgba(32,64,97,1);
}

.search { 
	float: right;
	width: 300px;
	margin-top: 20px;
	margin-right: 20px;
	border-radius: 20px;	
	background-color: white;
}
.search input:focus {
	outline: none;
}
.search input { 
	border: none;
	text-indent: 30px;
	width: 300px;
	margin-right: 20px;
	background-color: transparent;
}
.search .fa-search { 
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 15px;
}

#contactUsParent {
	width: 100%;
	height: 90vh;
	position: relative;
}
#contactUs {
	position: absolute;
	top: 30%; left: 50%;
	transform: translate(-50%,-50%);
	font-size: 22px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

#headerBanner {
	height: 60px;
	border-bottom: 1px solid lightgray;
	background-color: rgba(32,64,97,1); /* charcoal color rgba(59,60,61,1) */
	padding-left: 20px;
	padding-right: 20px;
}

#logo {
	float: left;
	position: absolute;
	margin: 5px;
	color: white;
	font-family: 'Saira Extra Condensed', sans-serif;
	font-size: 35px;
}

#mainScreen {
	margin: 0 auto;
}

.span-homegal a:hover {
    margin-bottom: 0px;
}
.polaroid:hover{
    margin-top: 10px; 
}

.headerLinks {
	font-family: "Open Sans", sans-serif;
}

.mainBody {
	background-color: white;
}

html {
	background-color: white;
}

.cursorPointer {
	cursor: pointer;
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

	.mainImage {
		width: 175px;
		height: 175px;
	}

	.polaroid { 
	  position: relative;
	  border: 1px solid lightgray;
	  margin-top: 10px;
	}

	h2 { 
	   position: absolute; 
	   top: 100px; 
	   left: 0; 
	   width: 100%; 
	}

	h2 span { 
	   color: white; 
	   font: bold 14px/21px Helvetica, Sans-Serif; 
	   letter-spacing: -1px;  
	   background: rgb(0, 0, 0); /* fallback color */
	   background: rgba(0, 0, 0, 0.3);
	   padding: 10px; 
	}

	.headerMain {
		text-align: center;
		font-size: 10px;
		color: #616161;
		font-style: italic;
		font-family: "Open Sans", sans-serif;
		border-bottom: 1px solid lightgray;
		padding-bottom: 20px;
	}

	.headerMainTop {
		text-align: center;
		font-size: 20px;
		font-family: "Open Sans", sans-serif;
		color: #616161;
		margin-top: 10px;
	}

	.bannerItems {
		float: right;
		margin-top: 20px;
		margin-right: 10px;
		color: white !important;
		font-family: 'Saira Extra Condensed', sans-serif;
		font-size: 20px;
	}

	.paginationAndBrandCount {
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 17px;
	}

	.pageButton {
		cursor: pointer;
		color: black;
		margin: 3px;
	}

	.dataRows {
		border: 1px solid lightgray;
		border-radius: 3px;
	}

	.searchBar {
		width: 85%;
		border: 1px solid lightgray;
		border-radius: 5px;
		margin-left: 10px !important;
		margin-right: 25px !important;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.navbarMain {
		width: 100%;
		text-align: right;
		background-color: #444F66;
		border-bottom: 3px solid #657CA9;
	}

	.navbarButton {
		font-size: 18px;
		color: white !important;
		margin-left: 10px;
		margin-right: 10px;
	}

	.detailPrice {
		font-size: 22px;
	}

	.detailsBackBtn {
		float: right;
	}

	.selectCategoryMobile {
		width: 100%;
		margin-left: 15%;
		text-align: center;
	}

	.selectCatBtnMobile {
		margin: 10px;
	}

	.selectpicker {
		border: 1px solid lightgray;
		height: 35px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {


	.mainImage {
		width: 200px;
		height: 200px;
	}

	.polaroid { 
	  position: relative;
	  border: 1px solid lightgray;
	  margin-top: 10px;
	}

	h2 { 
	   position: absolute; 
	   top: 100px; 
	   left: 0; 
	   width: 100%; 
	}

	h2 span { 
	   color: white; 
	   font: bold 14px/21px Helvetica, Sans-Serif; 
	   letter-spacing: -1px;  
	   background: rgb(0, 0, 0); /* fallback color */
	   background: rgba(0, 0, 0, 0.3);
	   padding: 10px; 
	}

	.headerMain {
		text-align: center;
		font-size: 10px;
		color: #616161;
		font-style: italic;
		font-family: "Open Sans", sans-serif;
		border-bottom: 1px solid lightgray;
		padding-bottom: 20px;
	}

	.headerMainTop {
		text-align: center;
		font-size: 20px;
		font-family: "Open Sans", sans-serif;
		color: #616161;
		margin-top: 10px;
	}

	.bannerItems {
		float: right;
		margin-top: 20px;
		margin-right: 10px;
		color: white !important;
		font-family: 'Saira Extra Condensed', sans-serif;
		font-size: 20px;
	}

	.paginationAndBrandCount {
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 20px;
	}

	.pageButton {
		cursor: pointer;
		color: black;
		margin: 3px;
	}

	.dataRows {
		border: 1px solid lightgray;
		border-radius: 3px;
	}

	.searchBar {
		width: 85%;
		border: 1px solid #657CA9;
		border-radius: 5px;
		margin-left: 10px !important;
		margin-right: 25px !important;
		margin-top: 5px;
		margin-bottom: 5px;
	}


	.navbarMain {
		width: 100%;
		text-align: right;
		background-color: #444F66;
		border-bottom: 3px solid #657CA9;
	}

	.navbarButton {
		font-size: 18px;
		color: white !important;
		margin-left: 15px;
		margin-right: 15px;
		cursor: pointer;
	}

	.detailPrice {
		font-size: 22px;
	}

	.detailsBackBtn {
		float: right;
	}

	.selectCategoryMobile {
		width: 100%;
		margin-left: 15%;
		text-align: center;
	}

	.selectpicker {
		border: 1px solid lightgray;
		height: 35px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {


	.mainImage {
		width: 275px;
		height: 275px;
	}

	.polaroid { 
	  position: relative;
	  margin: 20px;
	  border: 1px solid lightgray;
	}

	h2 { 
	   position: absolute; 
	   top: 200px; 
	   left: 0; 
	   width: 100%; 
	}

	h2 span { 
	   color: white; 
	   font: bold 18px/25px Helvetica, Sans-Serif; 
	   letter-spacing: -1px;  
	   background: rgb(0, 0, 0); /* fallback color */
	   background: rgba(0, 0, 0, 0.3);
	   padding: 10px; 
	}

	.span-homegal a {
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
	}

	.headerMain {
		text-align: center;
		font-size: 20px;
		color: #616161;
		font-style: italic;
		font-family: "Open Sans", sans-serif;
		border-bottom: 1px solid lightgray;
		margin: 0;
	}

	.headerMainTop {
		text-align: center;
		font-size: 30px;
		font-family: "Open Sans", sans-serif;
		color: #616161;
		margin-top: 10px;
	}

	.bannerItems {
		float: right;
		margin-top: 20px;
		margin-right: 10px;
		margin-left: 10px;
		color: white !important;
		font-family: 'Saira Extra Condensed', sans-serif;
		font-size: 20px;
	}

	.paginationAndBrandCount {
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.pageButton {
		cursor: pointer;
		color: black;
		margin: 3px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
	}

	.row {
		border: none;
	}

	.dataRows {
		border-top: 1px solid #FCFCFC;
		border-bottom: 1px solid #FCFCFC;
	}

	.searchBar {
		width: 20%;
		float: right;
		margin-left: 10px !important;
		margin-right: 20px !important;
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 2px solid #657CA9;
	}

  .navbarMain {
  	width: 100%;
  	text-align: right;
  	height: 50px;
  	background-color: #444F66;
  	border-bottom: 3px solid #657CA9;
  }

	.navbarButton {
		font-size: 22px;
		color: white !important;
		margin-left: 20px;
		margin-right: 20px;
		cursor: pointer;
	}

	.detailPrice {
		font-size: 26px;
	}
	
	.categories {
		text-align: center;
		border-bottom: 1px solid #657CA9;
	}

	.categoryItem {
		margin: 15px;
		font-size: 25px;
		cursor: pointer;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.mainImage {
		width: 300px;
		height: 300px;
	}

	.polaroid { 
	  position: relative;
	  margin: 20px;
	  border: 1px solid lightgray;
	  -webkit-transition: margin 0.2s ease-out;
	  -moz-transition: margin 0.2s ease-out;
	  -o-transition: margin 0.2s ease-out;
	}

	h2 { 
	   position: absolute; 
	   top: 200px; 
	   left: 0; 
	   width: 100%; 
	}

	h2 span { 
	   color: white; 
	   font: bold 18px/25px Helvetica, Sans-Serif; 
	   letter-spacing: -1px;  
	   background: rgb(0, 0, 0); /* fallback color */
	   background: rgba(0, 0, 0, 0.3);
	   padding: 10px; 
	}

	.span-homegal a {
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
	}

	.headerMain {
		text-align: center;
		font-size: 20px;
		color: #616161;
		font-style: italic;
		font-family: "Open Sans", sans-serif;
		border-bottom: 1px solid lightgray;
		padding-bottom: 20px;
	}

	.headerMainTop {
		text-align: center;
		font-size: 30px;
		font-family: "Open Sans", sans-serif;
		color: #616161;
		margin-top: 10px;
	}

	.bannerItems {
		float: right;
		margin-top: 20px;
		margin-right: 10px;
		margin-left: 10px;
		color: white !important;
		font-family: 'Saira Extra Condensed', sans-serif;
		font-size: 20px;
	}

	.paginationAndBrandCount {
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.pageButton {
		cursor: pointer;
		color: black;
		margin: 3px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
	}

	.row {
		border: none;
	}

	.dataRows {
		border-top: 1px solid #FCFCFC;
		border-bottom: 1px solid #FCFCFC;
	}

	.searchBar {
		width: 20%;
		float: right;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 2px solid #657CA9;
		background-color: #FEFEFE;
	}

	.navbarMain {
		width: 100%;
		text-align: right;
		height: 50px;
		background-color: #444F66;
		border-bottom: 3px solid #657CA9;
	}

	.navbarButton {
		font-size: 25px;
		color: white !important;
		margin-left: 20px;
		margin-right: 20px;
		cursor: pointer;
	}

	.detailPrice {
		font-size: 26px;
	}

	.categories {
		text-align: center;
		border-bottom: 1px solid #657CA9;
	}

	.categoryItem {
		margin: 15px;
		font-size: 25px;
		cursor: pointer;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	.mainImage {
		width: 300px;
		height: 300px;
	}

	.polaroid { 
	  position: relative;
	  margin: 20px;
	  border: 1px solid lightgray;
	  -webkit-transition: margin 0.2s ease-out;
	  -moz-transition: margin 0.2s ease-out;
	  -o-transition: margin 0.2s ease-out;
	}
	
	h2 { 
	   position: absolute; 
	   top: 200px; 
	   left: 0; 
	   width: 100%; 
	}

	h2 span { 
	   color: white; 
	   font: bold 18px/25px Helvetica, Sans-Serif; 
	   letter-spacing: -1px;  
	   background: rgb(0, 0, 0); /* fallback color */
	   background: rgba(0, 0, 0, 0.3);
	   padding: 10px; 
	}

	.span-homegal a {
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
	}

	.headerMain {
		text-align: center;
		font-size: 20px;
		color: #616161;
		font-style: italic;
		font-family: "Open Sans", sans-serif;
		border-bottom: 1px solid lightgray;
		padding-bottom: 20px;
	}

	.headerMainTop {
		text-align: center;
		font-size: 30px;
		font-family: "Open Sans", sans-serif;
		color: #616161;
		margin-top: 10px;
	}

	.bannerItems {
		float: right;
		margin-top: 20px;
		margin-right: 10px;
		margin-left: 10px;
		color: white !important;
		font-family: 'Saira Extra Condensed', sans-serif;
		font-size: 20px;
	}

	.paginationAndBrandCount {
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 30px;
	}

	.pageButton {
		cursor: pointer;
		color: black;
		margin: 3px;
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
	}

	.row {
		border: none;
	}

	.dataRows {
		border-top: 1px solid #FCFCFC;
		border-bottom: 1px solid #FCFCFC;
	}

	.searchBar {
		width: 20%;
		float: right;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 1px solid #657CA9;
		background-color: #FEFEFE;
	}

  .navbarMain {
  	width: 100%;
  	text-align: right;
  	height: 50px;
  	background-color: #444F66;
  	border-bottom: 3px solid #657CA9;
  }

	.navbarButton {
		font-size: 25px;
		color: white !important;
		margin-left: 20px;
		margin-right: 20px;
		cursor: pointer;
	}

	.detailPrice {
		font-size: 26px;
	}

	.categories {
		text-align: center;
		border-bottom: 1px solid #657CA9;
	}

	.categoryItem {
		margin: 15px;
		font-size: 30px;
		cursor: pointer;
	}

}


