.brandsInfo {
	font-family: "Open Sans", sans-serif;
}

.headerLinks {
	font-family: "Open Sans", sans-serif;
}

.mainBody {
	background-color: #FEFEFE;
}

.cursorPointer {
	cursor: pointer;
}
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

	.paginationAndBrandCount {
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 17px;
	}

	.pageButton {
		cursor: pointer;
		color: black;
		margin: 3px;
	}

	.dataRows {
		border: 1px solid lightgray;
		border-radius: 7px;
	}

	.searchBar {
		width: 85%;
		border: 1px solid lightgray;
		border-radius: 5px;
		margin-left: 10px !important;
		margin-right: 25px !important;
		margin-top: 5px;
		margin-bottom: 5px;
	}


	.navbarMain {
		width: 100%;
		text-align: right;
		background-color: #444F66;
		border-bottom: 3px solid #657CA9;
	}

	.navbarButton {
		font-size: 18px;
		color: white !important;
		margin-left: 10px;
		margin-right: 10px;
	}

	.detailPrice {
		font-size: 22px;
	}

	.detailsBackBtn {
		float: right;
	}

	.selectCategoryMobile {
		width: 100%;
		margin-left: 15%;
		text-align: center;
	}

	.selectCatBtnMobile {
		margin: 10px;
	}

	.selectpicker {
		border: 1px solid lightgray;
		height: 35px;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

	.paginationAndBrandCount {
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 20px;
	}

	.pageButton {
		cursor: pointer;
		color: black;
		margin: 3px;
	}

	.dataRows {
		border: 1px solid lightgray;
		border-radius: 7px;
	}

	.searchBar {
		width: 85%;
		border: 1px solid #657CA9;
		border-radius: 5px;
		margin-left: 10px !important;
		margin-right: 25px !important;
		margin-top: 5px;
		margin-bottom: 5px;
	}


	.navbarMain {
		width: 100%;
		text-align: right;
		background-color: #444F66;
		border-bottom: 3px solid #657CA9;
	}

	.navbarButton {
		font-size: 18px;
		color: white !important;
		margin-left: 15px;
		margin-right: 15px;
		cursor: pointer;
	}

	.detailPrice {
		font-size: 22px;
	}

	.detailsBackBtn {
		float: right;
	}

	.selectCategoryMobile {
		width: 100%;
		margin-left: 15%;
		text-align: center;
	}

	.selectpicker {
		border: 1px solid lightgray;
		height: 35px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.paginationAndBrandCount {
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.pageButton {
		cursor: pointer;
		color: black;
		margin: 3px;
	}

	.row {
		border: none;
	}

	.searchBar {
		width: 20%;
		float: right;
		margin-left: 10px !important;
		margin-right: 20px !important;
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 2px solid #657CA9;
	}

  .navbarMain {
  	width: 100%;
  	text-align: right;
  	height: 50px;
  	background-color: #444F66;
  	border-bottom: 3px solid #657CA9;
  }

	.navbarButton {
		font-size: 22px;
		color: white !important;
		margin-left: 20px;
		margin-right: 20px;
		cursor: pointer;
	}

	.detailPrice {
		font-size: 26px;
	}
	
	.categories {
		text-align: center;
		border-bottom: 1px solid #657CA9;
	}

	.categoryItem {
		margin: 15px;
		font-size: 25px;
		cursor: pointer;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.paginationAndBrandCount {
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 25px;
	}

	.pageButton {
		cursor: pointer;
		color: black;
		margin: 3px;
	}

	.row {
		border: none;
	}

	.searchBar {
		width: 20%;
		float: right;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 2px solid #657CA9;
		background-color: #FEFEFE;
	}

	.navbarMain {
		width: 100%;
		text-align: right;
		height: 50px;
		background-color: #444F66;
		border-bottom: 3px solid #657CA9;
	}

	.navbarButton {
		font-size: 25px;
		color: white !important;
		margin-left: 20px;
		margin-right: 20px;
		cursor: pointer;
	}

	.detailPrice {
		font-size: 26px;
	}

	.categories {
		text-align: center;
		border-bottom: 1px solid #657CA9;
	}

	.categoryItem {
		margin: 15px;
		font-size: 25px;
		cursor: pointer;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

	.paginationAndBrandCount {
		width: 100%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 30px;
	}

	.pageButton {
		cursor: pointer;
		color: black;
		margin: 3px;
	}

	.row {
		border: none;
	}

	.searchBar {
		width: 20%;
		float: right;
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		border-radius: 1px solid #657CA9;
		background-color: #FEFEFE;
	}

  .navbarMain {
  	width: 100%;
  	text-align: right;
  	height: 50px;
  	background-color: #444F66;
  	border-bottom: 3px solid #657CA9;
  }

	.navbarButton {
		font-size: 25px;
		color: white !important;
		margin-left: 20px;
		margin-right: 20px;
		cursor: pointer;
	}

	.detailPrice {
		font-size: 26px;
	}

	.categories {
		text-align: center;
		border-bottom: 1px solid #657CA9;
	}

	.categoryItem {
		margin: 15px;
		font-size: 30px;
		cursor: pointer;
	}

}


